{{> head }}

    {{> navbar }}

    <div class="container">

        <div class="row">

            <div class="col-8">
                <h3>Empresa de Software Platzi</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/inmueble.PNG" class="img-thumbnail" alt="">
            </div>

        </div>

    </div>
    

    {{> footer}}